<footer class="footer">

    <p id="footerText">&copy; <a href="https://github.com/ZMateen" target="_blank">Zaria Mateen, </a> <a href="https://github.com/Xzapno"
            target="_blank">Paul Hoffman, </a> <a href="https://github.com/majoradamsjr" target="_blank">Major Adams Jr.,</a>
        <a href="https://github.com/jasongoeble" target="_blank">Jason Goeble
        </a>
    </p>

</footer>