
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="/quiz">Take Our Quiz</a></li>
  <li><a href="/join">Join</a></li>
  <li style="float:right"><a href="/login">Login</a></li>
</ul>

{{!-- <div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="/quiz">Take Our Quiz</a>
  <a href="/join">Join</a>
  <div class="dropdown">
    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Game Genres</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Adventure</a>
      <a class="dropdown-item" href="#">Roll Playing</a>
      <a class="dropdown-item" href="#">Simulation</a>
      <a class="dropdown-item" href="#">MMPg</a>
    </div>
  </div>  --}}

  {{!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div> --}}
  {{!-- <a href="/login" >Login</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div> --}}


