
    <div class="container">

        {{>navSurvey}}

        <h1><strong>The Sexy Helper!</strong></h1> 

        <h2><strong>(Because Who Doesn't Enjoy A Good Survey?)</strong></h2>

        <hr>

        <h3><strong>Question #1</strong></h3>

        <h4>(Prolouge) What was your favorite toy as a kid out of the options bellow?</h4>

        <select class="chosen-select" id="q01" style="width: 145px;">

            <option value></option>
            <option value="25">Toy guns</option>
            <option value="31">Anything climbable</option>
            <option value="12">Board games</option>
            <option value="13">Dolls or Action Figures</option>
            <option value="7">Your own stereo</option>

        </select>

        <div>
            <div class="chosen-container chosen-container-single" id="q1_chosen" style="width: 145px;" title>

                <div class="chosen-drop">

                    <div class="chosen-search">

                        <input type="text" autocomplete="off">

                    </div>

                    <ul class="chosen-results">

                        <li class="active-result" data-option-array-index="1">Hack and Slash</li>
                        <li class="active-result" data-option-array-index="2">Adventure</li>
                        <li class="active-result" data-option-array-index="3">Role-Playing</li>
                        <li class="active-result" data-option-array-index="4">Simulation</li>
                        <li class="active-result" data-option-array-index="5">Music</li>

                    </ul>

                </div>

            </div>

        </div>

        <h3><strong>Question #2</strong></h3>

        <h4>(Begin your journey) Quick! Someone is trying to steal your loot! What do ya do?</h4>

        <select class="chosen-select" id="q02" style="width: 145px;">

            <option value></option>
            <option value="25">Blast their ugly mugs with the biggest gun you got!</option>
            <option value="31">Tie your rope to a cliffside and swing away with it! Filthy thieves!</option>
            <option value="12">Try and talk to them. They look like they could use it more than you.</option>
            <option value="13">Manipulate them into doing your bidding for a cut of the loot. Mind games aren't always a bad thing.</option>
            <option value="7">Laugh about it and ask them to join your band. Music brings us together, man!</option>

        </select>

        <div>

            <div class="chosen-container chosen-container-single" id="q2_chosen" style="width: 145px;" title>

                <div class="chosen-drop">

                    <div class="chosen-search">

                        <input type="text" autocomplete="off">

                    </div>

                    <ul class="chosen-results">

                        <li class="active-result" data-option-array-index="1">Hack and Slash</li>
                        <li class="active-result" data-option-array-index="2">Adventure</li>
                        <li class="active-result" data-option-array-index="3">Role-Playing</li>
                        <li class="active-result" data-option-array-index="4">Simulation</li>
                        <li class="active-result" data-option-array-index="5">Music</li>

                    </ul>

                </div>

            </div>

        </div>

        <h3><strong>Question #3</strong></h3>

        <h4> How would you discribe yourself?</h4>

        <select class="chosen-select" id="q03" style="width: 145px;">

            <option value></option>
            <option value="25">Energetic! SUGAR!!!</option>
            <option value="31">Curious as a cat</option>
            <option value="12">Imaginative. My mind is an easel.</option>
            <option value="13">Orderly. Everything has its place.</option>
            <option value="7">Loud! Life should never be quiet!</option>

        </select>

        <div>

            <div class="chosen-container chosen-container-single" id="q3_chosen" style="width: 145px;" title>

                <div class="chosen-drop">

                    <div class="chosen-search">

                        <input type="text" autocomplete="off">

                    </div>

                    <ul class="chosen-results">

                        <li class="active-result" data-option-array-index="1">Hack and Slash</li>
                        <li class="active-result" data-option-array-index="2">Adventure</li>
                        <li class="active-result" data-option-array-index="3">Role-Playing</li>
                        <li class="active-result" data-option-array-index="4">Simulation</li>
                        <li class="active-result" data-option-array-index="5">Music</li>

                    </ul>

                </div>

            </div>

        </div>

        <h3><strong>Question #4</strong></h3>

        <h4>(Setting a scene) You find yourself in a large open field, what do you do first?</h4>

        <select class="chosen-select" id="q04" style="width: 145px;">

            <option value></option>
            <option value="25">Shrug your shoulders and move on. Nothing really happening, so what's the point?</option>
            <option value="31">Try to find the best loot buried under the ground. Who knows how much it'll be worth!</option>
            <option value="12">Cross it. You can hear a conspicuous sound coming from a cave not too far from your location...</option>
            <option value="13">Stop and build something. You have the funds, so why not?</option>
            <option value="7">Set up your music equipment. Travelers need music in their lives, too!</option>

        </select>

        <div>

            <div class="chosen-container chosen-container-single" id="q4_chosen" style="width: 145px;" title>

                <div class="chosen-drop">

                    <div class="chosen-search">

                        <input type="text" autocomplete="off">

                    </div>

                    <ul class="chosen-results">
                        <li class="active-result" data-option-array-index="1">Hack and Slash</li>
                        <li class="active-result" data-option-array-index="2">Adventure</li>
                        <li class="active-result" data-option-array-index="3">Role-Playing</li>
                        <li class="active-result" data-option-array-index="4">Simulation</li>
                        <li class="active-result" data-option-array-index="5">Music</li>

                    </ul>

                </div>

            </div>

        </div>

        <h3><strong>Question #5</strong></h3>

        <h4> Out of these, what kind of movie would you rather watch?</h4>

        <select class="chosen-select" id="q05" style="width: 145px;">

            <option value></option>
            <option value="25">Movies about war</option>
            <option value="31">Movies about fantastical places and people</option>
            <option value="12">Movies about fantasy and magic</option>
            <option value="13">Movies about everyday people or businesses</option>
            <option value="7">Movies about bands</option>

        </select>

        <div>

            <div class="chosen-container chosen-container-single" id="q5_chosen" style="width: 145px;" title>

                <div class="chosen-drop">

                    <div class="chosen-search">

                        <input type="text" autocomplete="off">

                    </div>

                    <ul class="chosen-results">

                        <li class="active-result" data-option-array-index="1">Hack and Slash</li>
                        <li class="active-result" data-option-array-index="2">Adventure</li>
                        <li class="active-result" data-option-array-index="3">Role-Playing</li>
                        <li class="active-result" data-option-array-index="4">Simulation</li>
                        <li class="active-result" data-option-array-index="5">Music</li>

                    </ul>

                </div>

            </div>

        </div>

        <h3><strong>Question #6</strong></h3>

        <h4>(Rising action) A magical being springs up from an ancient altar in a deserted cave system. It tells you that you can choose one single power up. What do you choose?</h4>

        <select class="chosen-select" id="q06" style="width: 145px;">

            <option value></option>
            <option value="25">Advancement in every weapon you own and will own.</option>
            <option value="31">To be able to see hidden loot no matter how deep it's burried in the ground.</option>
            <option value="12">The ability to learn any type of magical craft without limit.</option>
            <option value="13">Unlimited money to build anything you wanted anywhere.</option>
            <option value="7">The power to bring music to anyone anywhere.</option>

        </select>

        <div>

            <div class="chosen-container chosen-container-single" id="q6_chosen" style="width: 145px;" title>

                <div class="chosen-drop">

                    <div class="chosen-search">

                        <input type="text" autocomplete="off">

                    </div>

                    <ul class="chosen-results">

                        <li class="active-result" data-option-array-index="1">Hack and Slash</li>
                        <li class="active-result" data-option-array-index="2">Adventure</li>
                        <li class="active-result" data-option-array-index="3">Role-Playing</li>
                        <li class="active-result" data-option-array-index="4">Simulation</li>
                        <li class="active-result" data-option-array-index="5">Music</li>

                    </ul>

                </div>

            </div>

        </div>

        <h3><strong>Question #7</strong></h3>

        <h4>Out of these, what is your favorite type of music?</h4>

        <select class="chosen-select" id="q07" style="width: 145px;">

            <option value></option>
            <option value="25">Anything fast-paced, like Heavy Metal or Hard Rock.</option>
            <option value="31">Anything big and bold, like Electronic Orchestra.</option>
            <option value="12">Anything mystical and calming, like Indie.</option>
            <option value="13">Anything easy-going, like Jazz or The Blues.</option>
            <option value="7">Anything at all.</option>

        </select>

        <div>

            <div class="chosen-container chosen-container-single" id="q7_chosen" style="width: 145px;" title>

                <div class="chosen-drop">

                    <div class="chosen-search">

                        <input type="text" autocomplete="off">

                    </div>

                    <ul class="chosen-results">

                        <li class="active-result" data-option-array-index="1">Hack and Slash</li>
                        <li class="active-result" data-option-array-index="2">Adventure</li>
                        <li class="active-result" data-option-array-index="3">Role-Playing</li>
                        <li class="active-result" data-option-array-index="4">Simulation</li>
                        <li class="active-result" data-option-array-index="5">Music</li>

                    </ul>

                </div>

            </div>

        </div>

        <h3><strong>Question #8</strong></h3>

        <h4>(Conflict) One day, while in the middle of making your way through enemy territory, you are suddenly rushed by a group of Raiders. With nowhere to run, you must stand your ground and fight them off before they kill you and anyone in your party. How do you get out of this situation alive?</h4>

        <select class="chosen-select" id="q08" style="width: 145px;">

            <option value></option>
            <option value="25">Grab the most absurdly large assault rifle you have. Yippee Ki Yay, Motherfuckers!!!</option>
            <option value="31">Use your environment to hide yourself in and wait until the group passes.</option>
            <option value="12">Cast an illusion spell onto you and your party, turning yourselves into common animals.</option>
            <option value="13">Defy the laws of physics and build a fort around you, hoping the Raiders get bored and move on.</option>
            <option value="7">Whip out your gitar and hope for the best. Raiders could be soothed by music!</option>

        </select>

        <div>

          <div class="chosen-container chosen-container-single" id="q8_chosen" style="width: 145px;" title>

              <div class="chosen-drop">

                  <div class="chosen-search">

                      <input type="text" autocomplete="off">

                  </div>

                  <ul class="chosen-results">

                      <li class="active-result" data-option-array-index="1">Hack and Slash</li>
                      <li class="active-result" data-option-array-index="2">Adventure</li>
                      <li class="active-result" data-option-array-index="3">Role-Playing</li>
                      <li class="active-result" data-option-array-index="4">Simulation</li>
                      <li class="active-result" data-option-array-index="5">Music</li>

                  </ul>

              </div>

          </div>

        </div>

        <h3><strong>Question #9</strong></h3>

        <h4>At a resturant, you are more likely to...?</h4>

        <select class="chosen-select" id="q09" style="width: 145px;">

            <option value></option>
            <option value="25">Pick something spicy!</option>
            <option value="31">Order something you've never had before.</option>
            <option value="12">Eat something you can't even pronounce.</option>
            <option value="13">Order anything.</option>
            <option value="7">Pick something you could write a song about.</option>

        </select>

        <div>

          <div class="chosen-container chosen-container-single" id="q9_chosen" style="width: 145px;" title>

              <div class="chosen-drop">

                  <div class="chosen-search">

                      <input type="text" autocomplete="off">

                  </div>

                  <ul class="chosen-results">

                      <li class="active-result" data-option-array-index="1">Hack and Slash</li>
                      <li class="active-result" data-option-array-index="2">Adventure</li>
                      <li class="active-result" data-option-array-index="3">Role-Playing</li>
                      <li class="active-result" data-option-array-index="4">Simulation</li>
                      <li class="active-result" data-option-array-index="5">Music</li>

                  </ul>

              </div>

            </div>

        </div>

        <h3><strong>Question #10</strong></h3>

        <h4>(Resolution) Your journey has ended. You have saved all of humanity from evil and you have made a plethora of friends on your way. Now that you are basically retired from hero work, what shall you do to celebrate? </h4>

        <select class="chosen-select" id="q10" style="width: 145px;">

            <option value></option>
            <option value="25">To hell with retirement! There are still things out there that need shooting!</option>
            <option value="31">Even though my collection is already huge, there is still hidden loot out there!</option>
            <option value="12">I shall stay behind in my cottage and hone my magic skills. I may need them again.</option>
            <option value="13">Time to rest and dream about beginning my journey all over again.</option>
            <option value="7">No time to rest! We've got a concert to attend to in a few hours!</option>

        </select>

        <div>

            <div class="chosen-container chosen-container-single" id="q10_chosen" style="width: 145px;" title>

                <div class="chosen-drop">

                    <div class="chosen-search">

                        <input type="text" autocomplete="off">

                    </div>

                    <ul class="chosen-results">

                        <li class="active-result" data-option-array-index="1">Hack and Slash</li>
                        <li class="active-result" data-option-array-index="2">Adventure</li>
                        <li class="active-result" data-option-array-index="3">Role-Playing</li>
                        <li class="active-result" data-option-array-index="4">Simulation</li>
                        <li class="active-result" data-option-array-index="5">Music</li>

                    </ul>

                </div>

            </div>

            <h3><strong>Question #11</strong></h3>

            <h4>(Epilogue) Out of the options below, what hobby would you enjoy picking up?</h4>

            <select class="chosen-select" id="q11" style="width: 145px;">

                <option value></option>
                <option value="25">Fencing</option>
                <option value="31">Archery</option>
                <option value="12">Arcane Witchcraft</option>
                <option value="13">Programming</option>
                <option value="7">Guitar or any other kind of instrament</option>

            </select>

            <div>

                <div class="chosen-container chosen-container-single" id="q1_chosen" style="width: 145px;" title>

                    <div class="chosen-drop">

                        <div class="chosen-search">

                        <input type="text" autocomplete="off">

                        </div>

                    <ul class="chosen-results">

                        <li class="active-result" data-option-array-index="1">Hack and Slash</li>
                        <li class="active-result" data-option-array-index="2">Adventure</li>
                        <li class="active-result" data-option-array-index="3">Role-Playing</li>
                        <li class="active-result" data-option-array-index="4">Simulation</li>
                        <li class="active-result" data-option-array-index="5">Music</li>

                    </ul>

                </div>

            </div>

        </div>

        <hr>

            <button type="button" class="submit-btn" id="submit">Submit</button>

        </div>

    </div>

</body>

</html>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Popper.js library provided by Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<!-- full jQuery library-->
<script src="https://code.jquery.com/jquery-3.0.0.js"></script>
<!-- Chosen -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/js/quiz.js"></script>